h1{
  text-align: center;
  color: 		#0080ff;
  font-family: "Georgia";
}

h2{
  text-align: center;
  color: #00bfff;
  font-family: "Georgia"; 
} 

body{
  text-align: center;
  font-family: "Georgia";
}




  


  
  
